<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7529c3a6-91a1-49da-9f2a-a3181b7cf5f8" Alias="Body - BlockGrid" Level="1">
  <Info>
    <Name>Body - BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
      "name": "Blocks"
    },
    {
      "key": "dfbed03b-42ad-43e8-9c0d-233933b154de",
      "name": "Columns"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "4324e9b0-0c21-484a-861f-61b17a4da26b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Headline ({{headline | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2e82bf08-d609-45e0-8461-0ec188eb6792",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a253e5f2-d166-4d7e-822f-3a1968327b2b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "9fe6ded3-0dd5-4298-a10a-7df56ad7efed",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": null,
              "groupKey": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "d317269a-dbc3-4fc6-9b25-4aa6a338564f",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": null,
              "groupKey": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "34fe6983-3ac7-4d3e-a1b9-703af58b3123",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "dfbed03b-42ad-43e8-9c0d-233933b154de",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "f95de9bd-7bb0-4f48-834e-64693df16e66",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "25648988-57e0-4f34-a3bd-85eb8081a39c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "a77e5e61-7007-40ff-b6ab-7bd82ade2fd9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>