<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cd0245f-d914-4109-a1b4-273e2c69d5b0" Alias="Suggestions" Level="1">
  <Info>
    <Name>Suggestions</Name>
    <EditorAlias>Suggestions editor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>