@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
	var setting = Model.Settings as RowSettings;
}
<div style="background-image:url('@(setting?.BackgroundImage?.Url())')">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>
