<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df20986f-0e53-4993-a976-7e409e610f1e" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-globe-europe---africa color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="027568a0-211d-42c4-a5a7-35c23eb495fb">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15189574-9ca0-4fbd-9909-c1a4a65e8796" SortOrder="0">station</ContentType>
    <ContentType Key="b8448a13-bc00-4038-8be0-fa9b120fb2fb" SortOrder="1">searchResultPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>