<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0180e248-a665-478f-ab48-143f43be3954" Alias="loginPage" Level="1">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-handprint color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1612f7e0-b83c-4738-a130-3f70cb4462ce">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>