<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8448a13-bc00-4038-8be0-fa9b120fb2fb" Alias="searchResultPage" Level="1">
  <Info>
    <Name>SearchResultPage</Name>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SearchResultPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="72b4060a-3a02-48f5-a7c5-43414da47818">SearchResultPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>