<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a8e67781-140b-4736-94a3-8a452a235931" Alias="Testo di prova" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Test text</Translation>
    <Translation Language="it">Testo di prova</Translation>
  </Translations>
</Dictionary>