<?xml version="1.0" encoding="utf-8"?>
<Macro Key="b50bea61-0f80-474f-85bd-1c568863779b" Alias="Register" Level="0">
  <Name>Register</Name>
  <MacroSource>~/Views/MacroPartials/Register.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>